<mat-card-content>
    <div fxLayout="row" fxFlex="50" fxLayoutAlign="space-around center">
      <div fxLayout="column">
        <img mat-card-image src="{{product.url}}"/>
      </div>
      <div fxLayout="column">
        <mat-card-content>
            <p class="thick">{{product.name}}</p>
            <p>${{product.price}}</p>
            <p>{{product.description}}</p>

            <form (ngSubmit)="addToCart()">
                <mat-form-field appearance="fill">
                    <mat-label>Quantity</mat-label>
                    <mat-select [(ngModel)]="quantity" name="{{product.id}}">
                    <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">{{i}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <p class="custom-spacing"><button mat-raised-button color="primary" type="submit">Add to Cart</button></p>
            </form>

        </mat-card-content>
      </div>
    </div>
</mat-card-content>
